{
 :paths ["src/core"]
 :deps
 {

  }


 :aliases
 {
  :provided
  {
   :extra-deps
   {
    integrant/integrant {:mvn/version "0.8.0"}
    org.clojure/clojure {:mvn/version "1.10.2-rc1"}

    hawk/hawk {:mvn/version "0.2.11"}

    clj-http/clj-http {:mvn/version "3.11.0"}
    cheshire/cheshire {:mvn/version "5.10.0"}

    ajchemist/telegram.clj {:mvn/version "2021.80.46708"}
    user.ring/user.ring    {:mvn/version "2020.351.49995"}
    }}

  :test
  {
   :extra-paths ["src/test"]
   :extra-deps
   {
    ;; user.tools.deps.alpha maven jar depends user.java.io artifact which is aot-compiled.
    ;; so avoid maven procurer.
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "d90daa79a7bf359efe620cb7eb57f4445708bdbd"}
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.821"}
    }}


  :test-runner
  {
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]
   }}
 }
