{
 :paths ["src/core"]
 :deps
 {

  }


 :aliases
 {
  :provided
  {
   :extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.2-alpha4"}
    hawk/hawk           {:mvn/version "0.2.11"}
    integrant/integrant {:mvn/version "0.8.0"}
    }}

  :test
  {
   :extra-paths ["src/test"]
   }


  :test-runner
  {
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]
   }}
 }
